In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.read_csv('/content/zoo.csv')

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [ ]:
zoo = pd.read_csv("/content/zoo.csv")

In [ ]:
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [ ]:
zoo[['animal']].count()

animal    22
dtype: int64

In [ ]:
zoo.animal.count()

22

In [ ]:
zoo.water_need.sum()

7650

In [ ]:
zoo.sum()

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [ ]:
zoo.water_need.min()

80

In [ ]:
zoo.water_need.max()

600

In [ ]:
zoo.water_need.mean()

347.72727272727275

In [ ]:
zoo.water_need.median()

325.0

In [ ]:
zoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [ ]:
zoo.groupby('animal').mean()[['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [ ]:
zoo.groupby('animal').mean().water_need

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64

In [ ]:
import re 
# Function checks if the string 
# contains any special character 
def run(string): 
    # Make own character set and pass 
    # this as argument in compile method 
    regex = re.compile('[$%^&*#] ') 
    # Pass the string in search 
    # method of regex object.     
    if(regex.search(string) == None): 
     print("string contains special characters ") 
    else: 
     print("string does not contain special characters ")